<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GostEntities" connectionString="metadata=&quot;res://*/Model.Model db.csdl|res://*/Model.Model db.ssdl|res://*/Model.Model db.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=Gost;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GosEntities" connectionString="metadata=&quot;res://*/Model.Model db.csdl|res://*/Model.Model db.ssdl|res://*/Model.Model db.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JRHJA10N;initial catalog=Gos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>